.custom-modal {
  max-width: 75vw !important;
}
.post-info {
  position: relative;
}

.comment-all {
  height: 60%;
  overflow: auto;
}

.comment-content {
  padding-left: 2rem;
  overflow-wrap: break-word;
}
.comment-form {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.comment-date {
  text-align: right;
  font-size: 0.9rem;
  color: rgb(134, 134, 134);
  padding-top: 0.5rem;
}
