.custom-modal {
  max-width: 75vw !important;
}
.modal-container {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.post-detail {
  position: relative;
}
.post-date {
  font-size: 0.9rem;
  color: rgb(134, 134, 134);
}
.caption-card {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.comment-container {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  padding-left: 0rem;
  padding-right: 0rem;
  border-bottom: 0.5px solid rgb(233, 233, 233);
}
.comment-user {
  padding-top: 0.5rem;
}
.comment-content {
  padding-left: 3.25rem;
  overflow-wrap: break-word;
}
.comment-form {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.comment-date {
  text-align: right;
  font-size: 0.9rem;
  color: rgb(134, 134, 134);
  padding-top: 0.5rem;
}
